name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Formatting
        uses: astral-sh/ruff-action@v1
        with:
          args: format --check
          changed-files: true

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: make install ENV=lint

      - name: Linting
        uses: astral-sh/ruff-action@v1
        with:
          changed-files: true

      - name: Static Type Analysis
        run: make types

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build
        uses: docker/build-push-action@v6
        with:
          push: false
          build-args: |
            APP_ENV=prod

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: make install ENV=test

      - name: Run Unit Tests
        run: make test
