name: Feature Branch
on:
  pull_request:
    branches: [ 'main' ]
    types: [opened, synchronize, reopened, closed, labeled, unlabeled]
    paths-ignore:
      # release-pr _should_ be the only PR to ever modify this.
      - across_server/__init__.py
      - ".*"
      - "**/.*"
      - "**/.*/**"
      - CHANGELOG.md
      - Makefile
      - release-please-config.json

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  id-token: write
  deployments: write
  pull-requests: write
  contents: read

jobs:
  do:
    uses: ./.github/workflows/ecspresso-feature-branch.yml
    with:
      organization: "${{ github.event.repository.owner.login }}"
      repository: "${{ github.event.repository.name }}"
      open: ${{ github.event.pull_request.state == 'open' }}
      labels: ${{ toJSON(github.event.pull_request.labels.*.name) }}
      ref: ${{ github.event.pull_request.head.ref  }}
      enable-migration: true
      image-name: core-server
      app: core-server
      output-web-url: false

    secrets:
      github-private-actions-pat: "${{ secrets.PRIVATE_CONFIG_READ_ACCESS }}"
      registry: "${{ secrets.ECR_REGISTRY }}"
      secret-outputs-passphrase: "${{ secrets.GHA_SECRET_OUTPUT_PASSPHRASE }}"
      ecr-region: "${{ secrets.ECR_REGION }}"
      ecr-iam-role: "${{ secrets.ECR_IAM_ROLE }}"
      ssh-private-key: ${{ secrets.ACROSS_TOOLS_SSH_KEY }}
