name: Main Branch
on:
  push:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  id-token: write
  deployments: write
  pull-requests: write
  contents: read

jobs:
  do:
    uses: ./.github/workflows/ecspresso-main-branch.yml
    with:
      organization: "${{ github.event.repository.owner.login }}"
      repository: "${{ github.event.repository.name }}"
      enable-migration: true
      image-name: core-server
      app: core-server
    secrets:
      github-private-actions-pat: "${{ secrets.PRIVATE_CONFIG_READ_ACCESS }}"
      registry: "${{ secrets.ECR_REGISTRY }}"
      secret-outputs-passphrase: "${{ secrets.GHA_SECRET_OUTPUT_PASSPHRASE }}"
      ecr-region: "${{ secrets.ECR_REGION }}"
      ecr-iam-role: "${{ secrets.ECR_IAM_ROLE }}"
      ssh-private-key: "${{ secrets.ACROSS_TOOLS_SSH_KEY }}"
