name: Release PR
on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  is-release-pr:
    uses: ./.github/workflows/workflow-ci-is-release-pr.yml

  ci-checks:
    uses: ./.github/workflows/workflow-ci-checks.yml
    needs: [is-release-pr]
    # Run when it _IS_ a release PR
    if: ${{fromJson(needs.is-release-pr.outputs.check)}}
    with:
      format-changed-files: false
    secrets:
      ssh-private-key: ${{ secrets.ACROSS_TOOLS_SSH_KEY }}
